<!-- Copyright (C) New York Media, LLC
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Jason Tseng <jason.tseng@nymag.com>, 2018  -->

<div data-uri="{{ default _ref _self }}" class="cut-homepage-newsletter-sign-up">
  <div data-editable="title" class="newsletter-title">{{{ newsletter-title }}}</div>
  <div class="form-center">
    <form method="get" class="form" action="/newsletter/users/" >
      <input type="hidden" value="{{ newsletterId }}" name="newsletterId" class="input newsletterID">
      <input type="hidden" value="{{ source }}" name="source" class="input" />
      <label for="newsletterEmail" class="label-email">Email</label>
      <input id="newsletterEmail" class="input email" type="email" placeholder="{{ emailMessage }}" name="email" required>
      <input type="submit" class="input submit" value="{{ signUpMessage }}" />
      <div class="messages">
        <span class="message success" role="alert" aria-live="assertive" aria-hidden="true" tabindex="-1">{{ successMessage }}</span>
        <span class="message error" role="alert" aria-live="assertive" aria-hidden="true" tabindex="-1">{{ errorMessage }}</span>
      </div>
    </form>
  </div>
</div>
